!=css('slides')
!=js('Slides')

#connect Connecting to Server...

#slides
   .slide
      h1 VB.NET Learn & Share:<br/>CLR Garbage Collection
      .center
         img(src='/img/ms-net.png', width='25%'. height='25%')
         p
            b Who: 
            a(href="http://masteinhauser.github.com") Myles A. K. Steinhauser
            br
            b Twitter: 
            a(href="http://twitter.com/masteinhauser") @masteinhauser
            br
            br

         p Visit 
            b http://#{ip}:#{app.address().port}/ 
            | in your browser

      .speaker
         ul
            li Hi and Welcome!

   .slide
      h1 .NET Architecture
      .center
         img.framed(src="/img/DotNetArchitecture.jpg")

      .speaker
         ul
            li What is .NET
            li Intermediate Language
            li Many Languages to One Runtime
            li Most work already done

   .slide
      h1 CLR Architecture
      .center
         img.framed(src="/img/cli.png", width="468", height="540")

      .speaker
         ul
            li Programming Language
            li Intermediate Language
            li CLR(Garbage Collectors)

   .slide
      h1
         p A bit like LEGO
      ul
         li Zabbix has Templates

      .speaker
         ul
            li Template --> Object

   .slide
      h1 Questions + Discussion
      p Technologies used in this presentation:
      ul
         li Server Side
            ul
               li
                  a(href="http://nodejs.org") NodeJS
               li
                  a(href="http://expressjs.com") Express
               li
                  a(href="http://socket.io") Socket.io
               li
                  a(href="http://jade-lang.com") Jade
               li
                  a(href="http://learnboost.github.com/stylus") Stylus
               li
                  a(href="http://github.com/TrevorBurnham/connect-assets") Connect Assets / Snockets
         br
         li Client Side
            ul
               li
                  a(href="http://documentcloud.github.com/backbone") jQuery
               li
                  a(href="http://documentcloud.github.com/backbone") Backbone
      p Thanks for watching/listening!

   img.logo(src='/img/adc.png')
   #keyboard-enable

   #footer
      a(href="http://github.com/masteinhauser/vbnet-gc", target='_blank')
      | http://github.com/masteinhauser/vbnet-gc
      .upper
         | Myles A. K. Steinhauser 
         a(href="http://twitter.com/masteinhauser") @masteinhauser
         | &nbsp;| http://#{ip}:#{port}/
